<div class="contenedor">
    <h2>Registro de usuario</h2>
<form  [formGroup]="userform">

    <div class="form-group col-md-8">
      <label>Nombres</label>
      <input type="text" 
             class="form-control" 
             placeholder="Ingrese sus nombres"
             formControlName="nombres"
             maxlength="20" />
    </div>
    <div class="form-group col-md-8">
        <label>Nombre de usuario</label>
        <input type="text" 
                class="form-control" 
                placeholder="Ingrese sus nombres" 
                formControlName="username"
                maxlength="100" />
    </div>
   
    <div class="form-group col-md-8">
        <label>Clave</label>
        <input type="Password" 
               class="form-control"  
               formControlName="password"
               maxlength="100" />
    </div>
    <div class="form-group col-md-8">
        <label>Reingrese clave</label>
        <input type="password" 
               class="form-control" 
               formControlName="passwordrepeat"
               maxlength="100" />
    </div>

    <button type="submit" class="btn btn-primary" (click)="registrar()">Registrarme</button>

  </form>

  
</div>
