
<div class="img-fondo">
</div>
  <div class="contenedor"><!-- flex container -->
    <div class="box">
        <hr>
      <form novalidate>
        <label>Usuario</label>
          <input type="text"
                 class="form-control"
                 name="username"
                 placeholder="Ingese su nombre de usuario"
                 [(ngModel)]="username"
                 minlength="3" />
  
          <label>Contraseña</label>
          <input type="password"
                 class="form-control"
                 name="password"
                 placeholder="Ingrese su contraseña"
                 [(ngModel)]="password" />
  
          <button class="btn btn-success btn-block" (click)="auth()">
             <span *ngIf="!showLoading">Entrar</span>
             <span *ngIf="showLoading">
                <i class="fa fa-sync fa-spin fa-1x"></i>
              </span>
          </button>

          <button class="btn btn-success btn-block" (click)="singup()">
              registrate
          </button>
      </form>
      
    </div>
  </div>